PORT=5018
MONGODB_URI=mongodb://localhost:27017/ecommerce_ai
PRODUCT_SERVICE_URL=http://localhost:5009
CART_SERVICE_URL=http://localhost:5010
ORDER_SERVICE_URL=http://localhost:5012
PAYMENT_SERVICE_URL=http://localhost:5013
INVENTORY_SERVICE_URL=http://localhost:5016
SECRET_TOKEN=your_jwt_secret_here
GROQ_API_KEY=your_groq_or_gemini_api_key_here
